@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

body {
/* This will style the body element in a html document */

    font-family: 'Noto Sans Mono', monospace;
    background-color: aquamarine;
}

/*  Implementing Selectors */
img {
    width: 100%;
    height: 100%;
}

.margin-box {
    margin:4rem;

}

.container {
    border: 5px solid black;
}

.box {
    padding: 5px solid black;
}

.box {
    padding: 1rem;
    display: flex;
}

.image {
    flex: 1;
}




p { 

color:antiquewhite;

}
.margin{
    margin: 4rem solid red;
}

.box{
    border: 5px solid black;
}

.padding{
    padding: 5rem;
}

.test_class { 
    color:beige;

}

#test_id {
    color:blueviolet;

}